body{
    font-size: 1.2rem;
}
*{
    background: black !important;
    color: yellow !important;
}
a:hover,*:hover{
    color: white !important;
}
header .dropdown-menu a:hover{
    color: white !important;
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .2rem;
        padding-left: .2rem;    
    }
}
header .nav-item .dropdown-toggle{
    left: -10px;
}
