.altura {
    height: 340px;   
}

.news-title{
    margin-bottom: 15px;
    margin-left: -15px;
}

.content{
    display: flex;
    margin-top:10px;
}

.content-inside{
    /* border: solid 2.1px #003e66; */
    padding: 20px 20px 0 10px ;
    font-size: 11pt !important;
    font-family:  "Gotham Rounded Book", Verdana, Geneva, Tahoma, sans-serif;    
}

.boton-register{
    background-color: #033d65;
    padding: 5px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 15px;
    color: white;
    font-size: 14px;
}

.boton-consult{
    background-color: #009de2;
    padding: 5px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 15px;
    color: white;
    font-size: 14px;
}

.contactenos {
    background-image: url("../images/contactenos/FondoFormularioContactenos.png");
}

.icono-contactenos {
    color: #023864;
    border-bottom: 1px solid #023864;
}

.form-contactenos {
    color: #023864;
    border-left: 0px;
    border-top: 0px;
    padding: 5px;
    font-size: 13px;
    font-family: GothamRoundedBold;
}

.form-contactenos input[type=text], .form-contactenos input[type=email] {
    height: 32px;
}

.form-contactenos input[type=text]::placeholder, .form-contactenos input[type=email]::placeholder, 
.form-contactenos input[type=number]::placeholder {
    color: #003e66;
}

.form-contactenos input[type=text], .form-contactenos input[type=email],.form-contactenos input[type=number], .form-contactenos textarea {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #003e67;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0px 5px 5px 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #003e66;
    height: 32px;
}

.btn.blue {
    background: #019ee2;
    background: -moz-linear-gradient(left, #e67d23 0%, #fbb83b 100%);
    background: -webkit-linear-gradient(left, #019ee2 0%,rgba(0,123,255,.25) 100%);
    background: linear-gradient(to right, #004085 0%,#019ee2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67d23', endColorstr='#fbb83b',GradientType=1 );
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.container-contactenos{
    height: 64.5px;
    width: 296px;
    background-color: #003e67;
    padding-left: 10px;
    padding-top: 7px;
}

.rectangulo-contactenos {
    width: 277px;
    height: 48px;
    border: solid 0.7px #ffffff;
}

.preguntas-frecuentes {
    width: 178px;
    height: 29px;
    font-family: GothamRoundedBold;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.28px;
    text-align: left;
    color: #ffffff;
}

.container-oficinas{
    height: 64.5px;
    width: 296px;
    background-color: #89b450;
    padding-left: 10px;
    padding-top: 7px;
}

.oficinas {
    width: 196.8px;
    height: 52.7px;
    font-family: GothamRoundedBold;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.puntos-recoleccion {
    width: 294px;
    height: 23px;
    font-family: GothamRoundedBold;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -0.38px;
    text-align: center;
    color: #003e66;
    border-bottom: 1px solid #003e66;
}

.iconoNew {
    height: 25px;
}

.number-wizard {
    margin-right:  12px;
    font-size: 21px;
    font-family: GothamRoundedBold, Arial, Helvetica, sans-serif;
}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff00, endColorstr=#ffffff00);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff00, endColorstr=#ffffff00)";
}
